.taco__images {
    background: url("./Images/tacos.jpeg");
  font-family: Avenir;
  padding: 400px 0;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  filter: alpha(opacity=50);
  margin-bottom: 24px;
  margin: auto;
  height: auto;
}

.subscribe {
    background-color: darkred;
    color:white;
    padding: 150px;
}

.footer {

    background-color:black;
    color: white;
    padding: 150px;
    

}

.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black ;
    color: white;
}